.content
{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: grey;
}

.card
{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;

    width: 320px;
    height: auto;
    margin: 10px auto 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px solid black;
}

.card:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img
{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
  border: 2px solid black;
  object-fit: cover; 
}